*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Inter', Arial, sans-serif;
}

header{
    width: auto;
    height: 10vh;
    margin: 5vh 5vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#headerLeft{
    width: 23%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#Menu{
    width: 30%;
    height: 8vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #E7E9EB;
    border-radius: 40px;
}

#Menu img{
    width: 2vh;
    height: 2vh;
}

#Search{
    width: 60%;
    height: 8vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #E7E9EB;
    border-radius: 40px;
}

#Search img{
    width: 2vh;
    height: 2vh;
    padding-left: 2vh;
}

#Search p{
    padding-left: 2vh;
}

#headerRight{
    width: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#Language{
    width: 8vh;
    height: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E7E9EB;
    border-radius: 40px;
}

#Currency{
    width: 8vh;
    height: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E7E9EB;
    border-radius: 40px;
}

article{
    width: auto;
    height: 50vh;
    margin: 5vh 5vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}

#articleRight{
    width: 50vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: flex-start;
}

.buy-button {
    display: inline-block;
    padding: 15px 30px; /* Увеличиваем размер кнопки */
    background-color: #FFA500; /* Оранжевый цвет */
    color: white;
    text-decoration: none;
    border-radius: 10px; /* Увеличиваем радиус закругления */
    font-size: 20px; /* Увеличиваем размер текста */
    transition: background-color 0.3s;
    margin-top: 5vh;
}
