*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Inter', Arial, sans-serif;
}

header{
    width: auto;
    height: 10vh;
    margin: 5vh 5vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#headerLeft{
    width: 23%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#Menu{
    width: 30%;
    height: 8vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #E7E9EB;
    border-radius: 40px;
}

#Menu img{
    width: 2vh;
    height: 2vh;
}

#Search{
    width: 60%;
    height: 8vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #E7E9EB;
    border-radius: 40px;
}

#Search img{
    width: 2vh;
    height: 2vh;
    padding-left: 2vh;
}

#Search p{
    padding-left: 2vh;
}

#headerRight{
    width: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#Language{
    width: 8vh;
    height: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E7E9EB;
    border-radius: 40px;
}

#Currency{
    width: 8vh;
    height: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E7E9EB;
    border-radius: 40px;
}

article{
    position: relative;
    width: auto;
    height: 70vh;
    margin: 5vh 5vh;
    background-color: #FFE2B5;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#articleMain{
    width: 90%;
    height: 40vh;
    margin-top: 5vh;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}

#articleMainLeft{
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    padding-right: 70vh;
}

#articleMainLeft h2{
    font-size: 50px;
    padding-bottom: 5vh;
}

#articleMainLeft h1{
    font-size: 30px;
    padding-bottom: 5vh;
}

#articleMainRight{
    position: absolute;
    top: 5vh;
    right: 15vh;
    z-index: 0;
}

#articleMainRight img{
    width: 80vh;
}

.articleButton {
	background-color:#000000;
	border-radius:40px;
	display:inline-block;
	cursor:pointer;
	color:#ffea00;
	font-size:25px;
	padding:25px 35px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}

#articleSlider{
    width: auto;
    height: auto;
    padding-top: 10vh;
    z-index: 1;
}

#articleArrows{
    z-index: 2;
    width: 100vh;
    position: absolute;
    bottom: 25vh;
    left: 5vh;
}

#articleArrows img{
    width: 180vh;
}

footer{
    width: auto;
    height: 70vh;
    margin: 5vh 5vh;
    border: 5px solid #ff0000;
}

#Sneakers{
    width: auto;
    height: auto;
    margin: 5vh 5vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.Sneaker{
    width: auto;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    justify-content: space-evenly;
    align-items: flex-start;
}

#SneakerImage1{
    background-color: #7BE498;
    width: 30vh;
    height: 35vh;
    border-radius: 30px;
    margin-bottom: 5vh;
}
#SneakerImage2{
    background-color: #F5E6FF;
    width: 30vh;
    height: 35vh;
    border-radius: 30px;
    margin-bottom: 5vh;
}
#SneakerImage3{
    background-color: #F7C29B;
    width: 30vh;
    height: 35vh;
    border-radius: 30px;
    margin-bottom: 5vh;
}
#SneakerImage4{
    background-color: #68EAEB;
    width: 30vh;
    height: 35vh;
    border-radius: 30px;
    margin-bottom: 5vh;
}

.red-text {
    color: red;
}
.black-text {
    color: black;
    text-decoration: line-through;
}

.Colors{
    width: 8vh;
    height: 4vh;
    margin-top: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #458EF6;
    font-size: 15px;
    background-color: #458ff63f;
    border-radius: 30px;
}

.Cart{
    width: 30vh;
    height: 8vh;
    margin-top: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E7E9EB;
    border-radius: 40px;
}

.Cart img{
    padding-right: 2vh;
}